
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="main-title">explorer.web</div>

<form>
    <input type="text" />

    <button type="submit" asp-action="Login">Zaloguj</button>
</form>
